terraform/envs/dev/1.general/_variables.tf
terraform/envs/dev/3.databases/_variables.tf
terraform/envs/dev/4.backend/_variables.tf
terraform/envs/dev/5.monitor/_variables.tf
terraform/envs/dev/6.api/_variables.tf

terraform/envs/stg/general/_variables.tf
terraform/envs/stg/3.databases/_variables.tf
terraform/envs/stg/4.backend/_variables.tf
terraform/envs/stg/5.monitor/_variables.tf
terraform/envs/stg/6.api/_variables.tf

terraform/envs/prd/1.general/_variables.tf
terraform/envs/prd/3.databases/_variables.tf
terraform/envs/prd/4.backend/_variables.tf
terraform/envs/prd/5.monitor/_variables.tf
terraform/envs/prd/6.api/_variables.tf
